@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.option{
    display: flex;
    align-items: center;
    gap: 5px;
}

.option img{
    width: 24px;
    height: auto;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e5e8e8 ;
}

.container{
    display: flex;
    width: 100%;
    gap: 10px;
    max-width: 1050px;
}

section{
    background: #fff;
    border-radius: 8px;
}

.tools-board{
    width: 210px;
    padding: 15px 22px 0;
}

.tools-board .row{
    margin-bottom: 20px;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 10px;
}

.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) :where(span, label) {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.option :where(span,label){
    color: #5A6168;
    padding-left:10px;
}

.option #fill-color{
    cursor: pointer;
    height: 14px;
    width: 14px;
}

#fill-color:checked ~label{
    color: #4A98F7;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
    display: flex;
    justify-content: space-between;
}

.colors .option{
     height: 20px;
     width: 20px;
     background: red;
     border-radius: 50%;
     margin-top: 3px;
     position: relative;
}

.colors .option:nth-child(1){
    background-color: #000 ;
}

.colors .option:nth-child(2){
    background-color: #f4d03f;
}

.colors .option:nth-child(3){
    background-color: #E02020;
}

.colors .option:nth-child(4){
    background-color: #6DD400;
}

.colors .option:nth-child(5){
    background-color: #5dade2;
}


.colors .option.selected:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.option #color-picker{
    opacity: 0;
    cursor: pointer;
}

.colors .option:first-child.selected:before{
    border-color: #ccc;
}

.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas{
    color: #2c3e50;
    border: 1px solid #2c3e50;
    transition: all 0.3s ease;
}

.clear-canvas:hover{
    color: #fff;
    background: #808b96;
}

.buttons .save-image{
    background: #2ecc71 ;
    border: 1px solid #2ecc71 ;
}

.drawing-board{
    flex: 1;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
}